// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/behaviors.h>

// Home row mods macro
//#define HRML(k1,k2,k3,k4) &ht LSHFT k1 &ht LCTRL k2  &ht LGUI k3 &ht LALT k4
//#define HRMR(k1,k2,k3,k4) &ht RALT k1  &ht RGUI k2  &ht RCTRL k3  &ht RSHFT k4

&lt {
    tapping-term-ms = <250>;
};

&mt {
    tapping-term-ms = <150>;
    flavor = "tap-preferred";
};

&soft_off {
    hold-time-ms = <3000>; // Only turn off if the key is held for 3 seconds or longer.
};

/ {
    macros {
        mission_control: mission_control {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp UP>
                , <&macro_release &kp LCTRL>
                ;
        };
    };

    behaviors {
        ms_mt: mouse_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&kp>, <&mkp>;
            display-name = "Mouse-Mod-Tap";
        };
    
        ms_lt: mouse_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo>, <&mkp>;
            display-name = "Mouse-Layer-Tap";
        };

        mc_lt: mission_control_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo>, <&mission_control>;
            display-name = "Mission-Control-Layer-Tap";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //|    TAB   │  Q       │  W       │  F       │  P       │  G       │   │  J       │  L       │  U       │  Y       │  ;   :   │BACKSPACE │
             &kp TAB   &kp Q      &kp W      &kp F      &kp P      &kp G          &kp J      &kp L      &kp U      &kp Y      &kp SEMI   &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //|   CMD    │  A       │  R       │  S       │  T       │  D       │   │  H       │  N       │  E       │  I       │    O     │  ENTER   │
           &kp LCMD    &kp A       &kp R     &kp S      &kp T      &kp D          &kp H      &kp N     &kp E       &kp I      &kp O      &kp ENTER
        //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
        //           │  Z       |  X       │  C       │  V       │  B       │   |  K       │  M       │ , <      │ . >      │  / ?     │
                        &kp Z      &kp X     &kp C      &kp V      &kp B           &kp K     &kp M     &kp COMMA  &kp DOT     &kp FSLH
        //           ╰──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                        &mt LSHFT SPACE &mkp LCLK &ms_lt 2 RCLK  &mc_lt 1 0 &mt RALT SLCK &mt RSHFT SPACE
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //|          │ ESC      │  1       │  2       │  3       │  INSERT  │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │          |          |
             &trans     &kp ESC    &kp N1     &kp N2     &kp N3     &kp INS       &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //|          │          │  4       │  5       │  6       │  DELETE  │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │          |          |
             &trans     &trans   &kp N4     &kp N5     &kp N6     &kp DEL        &kp LARW   &kp DARW   &kp UARW   &kp RARW    &trans    &trans
        //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
        //           │    .     │  7       │  8       │  9       │  0       │   │PRINT SCR │          │    F8    │    F12   │          │
                       &kp DOT     &kp N7     &kp N8     &kp N9     &kp N0        &kp PSCRN   &trans    &kp F8     &kp F12    &trans
        //           ╰──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                             &kp LCTRL   &trans     &trans        &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //|          │  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  *       │  │       │   :      │          |
             &trans    &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT     &kp CARET  &kp AMPS   &kp ASTRK   &kp PIPE   &kp COLON   &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //|          │  =       │    [     │   {      │    (     │    <     │   │    >     │    )     │    }     │  ]       │   ' "    │          |
           &caps_word &kp EQUAL  &kp LBKT   &kp LBRC   &kp LPAR   &kp LT         &kp GT     &kp RPAR   &kp RBRC   &kp RBKT   &kp SQT   &trans
        //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
        //           │  +       |   -      │          │          │    /     │   |    \     │  _       │   ~      │  `       │    ?     │
                       &kp PLUS  &kp MINUS   &trans     &trans     &kp FSLH       &kp BSLH   &kp UNDER  &kp TILDE  &kp GRAVE  &kp QMARK
        //           ╰──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                              &trans     &trans     &trans         &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //|          │          │          │  RESET   │          │PROFILE 0 │   │PROFILE 3 │          │  RESET   │          │          │
            &soft_off  &trans     &trans    &sys_reset  &trans    &bt BT_SEL 0  &bt BT_SEL 3  &trans   &sys_reset  &trans     &trans     &soft_off
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //|          │          │          │BOOTLOADER│          │PROFILE 1 │   │PROFILE 4 │          │BOOTLOADER│          │          │          |
             &trans    &trans     &trans    &bootloader &trans    &bt BT_SEL 1  &bt BT_SEL 4 &trans    &bootloader  &trans    &trans      &trans
        //╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
        //           │          │          │          │ CLEAR BT │PROFILE 2 │   │PROFILE 5 │          │          │          │          │
                       &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2  &bt BT_SEL 5 &trans     &trans     &trans     &trans
        //           ╰──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────╯
                                              &trans     &trans     &trans         &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};
